* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: #ffc4d6;
    }
    .navbar {
        overflow: hidden;
        background-color: #dd356e;
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        font-size: 24px;
      }
      
      .navbar b {
        float: center;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        font-size: 24px;
      }
    
      .navbar a:hover {
        color: black;
      }
  body {
    height: 100vh;
    background-image: url('background.png'); 
    background-size: cover;
    background-position: center top;
    overflow: auto;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
  }
  
h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0; 
    font-size: 2.5em;
    font-style:oblique;
    color: #ff5d8f;
  }

h2 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 1.5em;
}

label, input, h4 {
    display: block;
    margin: 10px auto;
    font-size: 1em;
}

.converter {
    background-color: #ff5d8f;
    border: 1px solid #3a3f4a;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(97, 97, 97, 0.3);
    margin: 20px auto;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 80%;
    background-color:#ffc4d6;
    color: #ff5d8f;
    text-align: center;
    font-size: 1em;
}

input[type="number"]::placeholder {
    color: #a4a9b6;
}

h4 {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}
  